*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.apk
/apk/*.apk
!/apk/releases/pallyai-v29.apk
!/apk/releases/pallyai-v30.apk
!/apk/releases/pallyai-v31.apk
!/apk/releases/pallyai-v32.apk
!/apk/releases/pallyai-v33.apk
!/apk/releases/pallyai-v34.apk
/releases/
/.build-outputs/
